/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "InterVariable", Inter, sans-serif;
  --font-accent: "Press Start 2P", system-ui, sans-serif;
  --card-text-weight: 410;
  --card-title-weight: 715;
  --button-text-weight: 400;
  --page-grid-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --content-width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --card-tag-color: #000000;
  --card-tag-stroke: #ffffff;
  --accent-color: #000000;
  --heart-fill-color: #ff0000;
  --heart-hover-color: #000;
  --heart-active-color: #ff0000;
  --heart-contour-color: #000;
  --heart-sparks-color: #ff0000;
  --heart-core-color: #fff;
  --button-background-color: #fff;
}
